---
title: "HELP"
permalink: /brm/backgroundresearch/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            

    <div style="width:60%; margin:auto; font-size:15px">
      <div class="text-centered">
     
        <p class="font-pt-sans text-xl text-centered" style="color: #24a34a">
          <b>Science Inquiry Lesson</b>
        </p>

 <p align="left">
          <b>Educators:</b> By following Steps 1 - 6, students are supported through the science inquiry stages of selecting good research questions, planning their background research, and conducting background 
          research to develop hypotheses for their research questions.<br><br>

This lesson can also be broken down to focus on specific inquiry stages. For example:

<ul style="list-style: none;" align="left">
          <li>Steps 1 &amp; 2: Students learn how to select good research questions. </li>
          
          <li>Steps 2 - 4: Students learn how to plan research for their research questions.</li></ul>
        </p>

        

        <hr/>

        
        <div style="background: #F7F7F7; padding-left: 2em; padding-right: 2em">
         <br/>
          <p align="left">
            <b>Students: First, download a booklet for this lesson
              <a download="" href="BRM_Booklet_simplified.docx">here</a>. Follow the directions on this booklet for this
              lesson. </b>
          </p>
         <br/>

          <p align="left">
            <b>STEP 1:</b> First, you will watch a lesson on selecting a good research question. There is audio in this lesson, 
            so you may need headphones. 

           <br/><br/>
            <i>In your booklet, answer the question for STEP 1. </i>

            <br><br>
            Click <a class="brm-link" href="https://www.isptutor.org/rqwe" target="_blank">here</a> to watch the video.

           <br/><br/><br/>

            <b>STEP 2:</b> In the next lesson, you will pick your research question. Try to apply the methods used by the student in the
            lesson you watched when picking your research question.

           <br/><br/>
            <i>In your booklet, you will answer the questions for STEP 2.</i>
         
         <br/>
        <br><br>
        This lesson also has audio, so you may need headphones. Click on the blank page to start the lesson. 
        Click <a class="brm-link" href="http://tedserver.psy.cmu.edu/PROD_ARCH/rq_c.html" target="_blank">here</a> to begin this lesson. 
        </p>
 <br>
        </div>

       <br/>
        <div style="background: #F7F7F7; padding-left: 2em; padding-right: 2em">

         <br/>

          <p align="left">
            <b>STEP 3:</b> HELP IN PLANNING YOUR RESEARCH 
          </p>

          <p align="left">
            Next, you will watch a video that gives important tips on how to plan for your background research.
          </p>


          <p align="left">
          <i>Take notes in page 3 of your booklet as you watch the video.</i>
          </p>
          <br><br>

          Click on the button below to watch the video:

          <br>

          <a href="../inhelp/index.html"><img alt="INhelp" src="planr.png"/></a>

         <br/>


          <br>

          <p align="left">
            <b>STEP 4:</b> PLAN YOUR RESEARCH 
          </p>

          <p align="left">Now, you will need to think about what information you need to research to make your hypothesis for your research question.
            To get ideas for what information to look up, you can watch (or re-watch) an animation for one trial of your
            experiment. </p>
          
         
          <p align="left">
            <i>Take notes of what happens in this animation in your booklet (page 3). Then write down the information you want to look up in your booklet (pages 4-5).
         </i>
          </p>
         
        <p align="left">Click on your experimental topic below to watch (or re-watch) an animation for one trial of your
            experiment:</p>

            <p align="center">
            <a href="../CrystalsAnimation/">Crystal Growth</a>; <a href="../SodaMintAnimation/">Soda/Mint</a>; <a href="../IceMeltingAnimation/">Ice Melting</a>; <a href="../BalloonAnimation/">Gas in Balloon</a>;
            <a href="../RampAnimation/">Inclined Plane</a>; <a href="../SinkingAnimation/">Objects Sinking</a>; <a href="../GreenhouseAnimation/">Greenhouse</a>; <a href="../AlgaeAnimation/">Algae</a>
          </p>

<br><br>

        </div>


       <br/>

        <div style="background: #F7F7F7; padding-left: 2em; padding-right: 2em">
         <br/>

          <p align="left">
            <b>STEP 5:</b> HELP IN DOING BACKGROUND RESEARCH...
          </p>
          <p align="left"><b>Background Research lesson: </b>Next, you will watch a lesson in which a virtual "high school
            student" is doing background research for their research question.
            (This video has sound.) 
          
<br><br>

            <i>Take notes of this lesson on page 6 of your booklet.</i>
<br><br>
Click <a class="brm-link" href="https://www.isptutor.org/brmwe" target="_blank">here</a> to watch this video.
           <br/><br/>


          </p>
         <br/>

          <div style="background: #b3d9ff; padding-left: 2em; padding-right: 2em">
           <br/>
            <p align="left">
              <b>HOW TO USE THIS WEBSITE TO FIND INFORMATION...</b>
            </p>
            <p align="left">
              You can find science units relevant to your research question by clicking on a blue button above for the
              science area of your research question (e.g., "Forces &amp; Motion").
              You'll see a list of units relevant to the topic you chose.

             <br/><br/>
              Or, you can type what you would like to find out about in the <u>search bar</u> above (as shown below).
              Click
              on the little magnifying glass and you'll see a list of units that include those key words (you may see
              some
              Ads in the list of results: just ignore those). Just click
              on the link of a unit you'd like to look at.


            </p>

           <br/>
            <img src="SearchBar_AreasOfScience3.png" width="600"/>
           <br/>

            <p align="left">You can also click on the "Glossary" button at the top right side of the page to see a list of basic definitions of science
              concepts.</p>
           <br/>
            <p align="left">When you're in a unit, you may need to click on the orange arrows at the bottom of the page
              to
              find the info you're looking for (since many units
              have more than one page).
            </p>
            <img alt="forward_button" class="img-centered" width="50px" src="buttonorange_forward.png"/>

            <p align="left">
              You can always come back to this page by clicking on the "Home &amp; HELP" button at the top of the page
              you're
              on (the Help and four Areas of Science buttons will be on every page).
            </p>
            <p align="left">
              If you still need help and don't know what to do, ask your teacher (or another adult) to help you.
            </p>
           <br/>
          </div>

         <br/>

          <p align="left">
            <b>STEP 6:</b> NOW, DO YOUR BACKGROUND RESEARCH!!
           <br/><br/><i>Follow the instructions starting on page 7 of your booklet, which will help you to find
            information for your research question.</i>


          </p>
          <p align="left">

           <br/><br/>
          </p>
        </div>

<div class="text-sm" style="text-align:right">
          Click on magnifying glass below for<br/>
          more info on searching within a page:
        </div>
        <div style="text-align:left">
          <div style="display:block;text-align:right;margin-left:auto">         
            <a href="../searchpage/index.html"><img alt="Search Page Help" src="mglass.png" width=60/></a>                     
          </div>
        </div>   
     

      </div>

    </div>
  
{% endblock %}
