<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Boogaloo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../main.css">
        <!-- Google Search Bar -->
        {# <script async src="https://cse.google.com/cse.js?cx=820097a0b6dc48b72"></script> #}
        <!--<div class="gcse-search"></div> -->
        <!-- Google Firebase -->
        <script src="https://www.gstatic.com/firebasejs/6.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.2.1/firebase-firestore.js"></script>
        {% block page_specific_style %}{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18104655-6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-18104655-6');
        </script>
    </head>

    <body>
        <!-- Header -->
        {% include "header.njk" %}
        <!-- Main Page -->
        <div class="page-container">
            {% block page_content %}
            {% endblock %}

            {% block nav_btns %}
            {% endblock %}

            {% block toc %}{% endblock %}
        </div>

        {# <br><br> #}

        <!-- Footer -->
        {% include "footer.njk" %}

        <!-- Enable header and nav button functionality -->
        <script src="../brm.js"></script>
    </body>
</html>