<!-- <img id="brm-header-img" alt="StudentBRMHeader" src="../StudentBRMHeader.jpg"> -->
         <div style="text-align:center" id="research-question"> </div>
         

<div style="float:left;margin-left:20px;float:top">
<br>
     <img alt="ISP logo" src="../ISPtutor_logo.jpg" width="80"/>

<!-- NEW   -->


<!-- NEW   -->



</div>



<div style="float:right;margin-right:20px">

<br><br>

      <script type="text/javascript">

      function newPopup(url) {
            popupWindow = window.open(
              url,'popUpWindow','height=400,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
          }

          </script>
        
        <a href="JavaScript:newPopup('../glossary');">
        
        <button id="home-btn" class="glossary-btn">Glossary</button>
        
        </a>

</div>







        <div id="header-bg-extension" style="text-align:center;font-size:18px"><br><b>You can search below or click on a science 
        area to find information for your research question:</b></div>
                <div class="search-container">
            <div class="gcse-search"></div>
        </div>
        <div class="header-btn-container">
            <a href="../home"><button id="home-btn" class="header-btn htmlabout">About</button></a>
            <a href="../backgroundresearch"><button id="home-btn" class="header-btn htmlhelp">Lesson</button></a>
           <a href="../areachemphys"><button id="chemical-btn" class="header-btn">Chemical &amp; Physical Reactions</button></a>
            <a href="../area_heattemp"><button id="heat-btn" class="header-btn">Heat &amp; Temperature</button></a>
            <a href="../area_forcesmotion"><button id="forces-btn" class="header-btn">Forces &amp; Motion</button></a>
            <a href="../Area_PlantReproduction"><button id="plant-btn" class="header-btn">Plant Reproduction</button></a>
            
        </div>
