<img id="brm-header-img" alt="StudentBRMHeader" src="../StudentBRMHeader.jpg">
        <div id="research-question"></div>
        <div id="header-bg-extension"></div>
        <div class="search-container">
            <div class="gcse-search"></div>
        </div>
        <div class="header-btn-container">
            <a href="../home"><button id="home-btn" class="header-btn">Home &amp; HELP</button></a>
            <a href="../area_forcesmotion"><button id="forces-btn" class="header-btn">Forces &amp; Motion</button></a>
            <a href="../Area_PlantReproduction"><button id="plant-btn" class="header-btn">Plant Reproduction</button></a>
            <a href="../areachemphys"><button id="chemical-btn" class="header-btn">Chemical &amp; Physical Reactions</button></a>
            <a href="../area_heattemp"><button id="heat-btn" class="header-btn">Heat &amp; Temperature</button></a>
        </div>
