<div class="nav-btn-container">
  <img id="back-btn-inactive" class="nav-btn" src="../_assets/WhiteGrayBlue.jpg"> 
    <img id="next-btn-inactive" class="nav-btn" src="../_assets/WhiteGrayBlue.jpg"> 
    <img id="back-btn-active" class="nav-btn" src="../_assets/ButtonBlackWhite.png">
    <img id="next-btn-active" class="nav-btn" src="../_assets/ButtonBlackWhite.png">
</div>
