<div class="nav-btn-container">
    <img id="back-btn-inactive" class="nav-btn" src="../_assets/buttonorange_arrow.jpg">
    <img id="next-btn-inactive" class="nav-btn" src="../_assets/buttonorange_arrow.jpg">
    <img id="back-btn-active" class="nav-btn" src="../_assets/buttonyellow.png">
    <img id="next-btn-active" class="nav-btn" src="../_assets/buttonyellow.png">
</div>
