---
title: "Exponent Math"
permalink: /brm/exponent-math/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Exponent Math</h1>

<div class="page" id="page1">

<p>
        <b>Exponent math</b>
      </p>
      <p>
        Once you understand the basics of exponents, we will talk about how to multiply and divide numbers
        that have exponents. (Click <a class="brm-link" href="../exponent-what-are-they/" target="_blank">here</a> for a review of the basics of exponents.)
      </p>
      <p>
        <b>Addition/Subtraction:</b> When you are adding two numbers with 10 to an exponent, you need to make sure the
        exponents are the same in both numbers. Then add/subtract the numbers and keep the common 10<sup>x</sup>.
      </p>
      <p>
        For example: 
      </p>

      <ul class="brm-list">
        <li>
          3 x 10<sup>8</sup> + 5 x 10<sup>7</sup> 
        </li>
        <li>
          = 30 x 10<sup>7</sup> + 5 x 10<sup>7</sup> (here, we multiplied 3 by 10 to get 30. Since we multiplied by 10,
          we need to also divide (10<sup>8</sup>) by 10, which gives us 10<sup>7</sup>)
        </li>
        <li>
          = 35 x 10<sup>7</sup>
        </li>
      </ul>

      <p>
        <b>Multiplication:</b> When multiplying two numbers with base 10 with exponents,
        you multiply the numbers without exponents and <b><i>add</i></b> the exponents.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>
          (3 x 10<sup>8</sup>)* (5 x 10<sup>7</sup>) = (3 x 5) * (10<sup>8</sup>x 10<sup>7</sup>)
        </li>
        <li>
          = 15 x 10<sup>8 </sup>x 10<sup>7</sup>
        </li>
        <li>
          = 15 x 10<sup>15</sup>
        </li>
        <li>
          we can divide 15 by 10 and multiply 10<sup>15</sup> by 10 to get (multiplying by 10 and dividing by 10 is
          the same as multiplying by 1: the value will not change)
        </li>
        <li>
          1.5 x 10<sup>16</sup>
        </li>
      </ul>

      <p>
        <b>Division:</b> When dividing two numbers with base 10 with exponents, you <i><b>subtract</b></i>
        the exponents.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>10<sup>8</sup> / 10<sup>7</sup></li>
        <li>= 10<sup>8-7</sup></li>
        <li>= 10<sup>1</sup></li>
      </ul>

      <p>Another example:</p>

      <ul class="brm-list">
        <li>10<sup>27</sup> / 10<sup>15</sup></li>
        <li>= 10<sup>27-15</sup></li>
        <li>= 10<sup>12</sup></li>
      </ul>

      <p>
        If there are numbers in front of the base 10 (e.g., <b>3</b> * 10<sup>8</sup>), then divide the numbers also.
      </p>
      <p>For example:</p>

      <ul class="brm-list">
        <li>3 * 10<sup>8</sup> / 5 * 10 <sup>6 </sup>=  (3 / 5) * (10<sup>8</sup> / 10<sup>6</sup>)</li>
        <li>= 0.6 * 10<sup>8-6</sup></li>
        <li>= 0.6 * 10<sup>2</sup></li>
      </ul>

      <p>
        To get rid of the decimal place, we can multiply 6 by 10, then divide 10<sup>2</sup> by 10. This is the same
        as multiplying by 1:
      </p>

      <ul class="brm-list">
        <li>= 0.6*10 * 10<sup>2</sup>/10</li>
        <li>= 6 * 10</li>
        <li>= 60</li>
      </ul>
   

    </div>

{% endblock %}
            