---
title: "INHelp"
permalink: /brm/inhelp/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            
    <h1>Plan Your Research (With Sound)</h1>

    <p class="font-pt-sans text-lg text-centered">
      
        Click anywhere on the screen below to begin. (You can click on the screen to pause at any point.)
       <br/>
         When you're done, click on the "Lesson" button above.
         
    </p>

   <br/>

    <div class="text-centered">
      <iframe height="506" src="https://isp-tutor-project.github.io/demo/games/planyouresearch/index.html" width="768">
      </iframe>
    </div>

  
{% endblock %}
