---
title: "Force"
permalink: /brm/force-definition/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Force</h1>

<div class="page" id="page1">
     <p>
        <b>What is a force?</b> A force is a push or pull on an object. Forces can be caused by another object 
        pushing or pulling on the object when they are touching each other. Forces due to objects touching each other are called "contact forces." 
        Friction is another type of contact force that acts when different surfaces are in contact. </p>
    <p>There are other forces that act on the object 
        from a distance. These forces include gravity (or gravitational force) and electric forces (if the object has an electric charge).
    </p>

<br>
   <b>Example.</b> Let's think about the different forces acting on objects in example below:
      <br>

    <p>In the example shown below, a man is pushing a car. Think about all of the forces acting on both 
    the man and the car in this example. (Hint: look at where the man and car are in contact with each other and other things.)</p>

    

<img alt="Man pushing car" class="img-centered img-size_500" src="Man_Pushing_Car.PNG"/>

<p>We'll start by identifying the contact forces acting on the man and car. (Click "1" below.)</p>

<br><br><br>

<p id="demo1" style="display: none">

<img alt="Man pushing car" class="img-centered img-size_500" src="Man_Pushing_Car_V1.PNG"/>

<br>
One (pretty obvious) contact force is the force of the man pushing on the car, represented above by the arrow. Since the man pushes to the left, the arrow points left.
<br><br>
Before clicking on "2" below to see more forces, think about some other contact forces acting on the man and car. 
How many forces can you identify?

</p>



<button onclick="toggleText('demo1')" type="button"> <b>1. Click to see/hide one force in this example</b></button>

<br><br><br>


<p id="demo2" style="display: none">

<img alt="Man pushing car" class="img-centered img-size_500" src="Man_Pushing_Car_ManCar.png"/>
<br>
<br>
Another contact force is the force of the car pushing back on the man. (If the car didn't push back on the man, the man would fall forward!)
<br><br>
Let's look for some more contact forces acting on the man and car now (click "3")...

</p>

<button onclick="toggleText('demo2')" type="button"> <b>2. Click to see/hide two contact forces in this example</b></button>

<br><br><br>

<p id="demo3" style="display: none">

<img alt="Man pushing car" class="img-centered img-size_500" src="Man_Pushing_Car_AllContactFs.png"/>
<br>
Both the man and the car are in contact with (or touching) the ground. So, there are also (contact) forces from the ground 
pushing up on the man and on the car. (If the ground did not push up, the man and car would fall downward through the ground!)
<br><br>
But have we found all of the contact forces? (To find out, click "4.")
</p>

<button onclick="toggleText('demo3')" type="button"> <b>3. Click to see/hide some more contact forces on man/car in this example</b></button>
    
<br><br><br>

<p id="demo4" style="display: none">

<img alt="Man pushing car" class="img-centered img-size" src="Man_Pushing_Car_AllContactFriction.png"/>
<br>
The force of friction acts on each of the car's tires, resisting forward motion. The force of friction also acts on the soles of the man's shoes, resisting the backward motion. (If there were no 
friction acting on the man's shoes, he would slide to the right, as if he were on ice!)
<br><br>
We have identified a lot of forces. In fact, we have identified all of the contact forces acting on the man and car. 
But we're not quite done. Can you think of some other forces acting on the man and car? (Click "5.")

</p>

<button onclick="toggleText('demo4')" type="button"> <b>4. Click to see/hide all contact forces in this example</b></button>



<br><br><br>

<p id="demo5" style="display: none">

<img alt="Man pushing car" class="img-centered img-size" src="Man_Pushing_AllForces.png"/>
<br>
The force of gravity always acts on all objects on Earth. So, we need to include the force of gravity acting on both the man 
and the car. Gravity acts downward. 
<br><br>
We have now identified all forces acting on the car and on the man.

</p>

<button onclick="toggleText('demo5')" type="button"> <b>5. Click to see/hide all forces acting in this example</b></button>  



    </div>    


{% endblock %}
            