---
title: "Notebook"
permalink: /brm/notebook/index.html
---
            
{% extends "popup.njk" %}
            
{% block page_specific_style %}
<style>
        dt {
            font-weight: bold;
        }

        dd {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
            
{% block page_content %}
            
    <dl>
        <b>Notebook</b><br><br>
        You can use this space to type notes for your research question. Don't close this window while you're working, 
        so that you don't lose your work.
        You can minimize this window (by clicking the &mdash; at the top of the window) so it's out of your way.
        <br><br>
        You can copy/paste your notes to a (Word) document when you're done.

    </dl>

<textarea name="text" cols="100" rows="100">
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------
*Term/concept /or/ change/process to learn about: 
*Before you look it up, explain what you already know about this term/concept /or/ change/process: 
*Definition of term/concept /or/ explanation of change/process (you can copy/paste): 
*Explain what you learned in your own words: 

---------------------------------------------------

</textarea>



{% endblock %}
            