---
title: "Energy: Sources and Forms"
permalink: /brm/energy-sources-forms-of-energy/index.html
---
            
{% extends "brm_unit.njk" %}
            
{% block page_content %}
            <h1>Energy: Sources and Forms</h1>

<div class="page" id="page1">
      <p>
        <b>First, what is Energy *not*?</b> The idea of energy is confusing to a lot of people. 
        But you need to understand that energy is <u>not</u> a type of substance. It is related to the motion or movement of atoms, molecules, and objects.
      </p>
      <p>
        Energy is an abstract (mathematical) measure related to the amount of motion of objects (including atoms and molecules). Energy related to motion is called "kinetic energy."
        Energy is also an abstract (mathematical) measure of the potential for <b>more</b> motion. Energy related to the potential for motion is called "potential energy."
      </p>
      <p>
        For example, the abstract (mathematical) way to measure an object's kinetic energy is:
      </p>

      <ul class="brm-list">
        <li>KE (of object) = 1/2*(mass of object)*(speed of object)<sup>2</sup></li>
      </ul>

      <p>
        So, you can see from this equation that kinetic energy is a measure of the object's motion: speed (as well as
        its mass).
      </p>
      
<p>
        An abstract (mathematical) way to measure an object's potential energy (PE) due to gravity is:
      </p>

      <ul class="brm-list">
        <li>PE (of object) = (mass of object)*(height of object above the ground)*(acceleration due to gravity)<sup>2</sup></li>
      </ul>
     <br/>

    </div>



    

{% endblock %}
            