---
title: "About"
permalink: /brm/home/index.html
---
            
{% extends "brm.njk" %}
            
{% block page_content %}
            

    <div style="width:60%; margin:auto; font-size:15px">
      <div class="text-centered">

       
        <p class="font-pt-sans text-xl text-centered" style="color: #f1b900">
          <b>About This Website</b>
        </p>

        <p align="left">
          <b>About this website.</b> This website is part of the <a class="brm-link" href="https://www.isptutor.org/" target="_blank">ISP (Inquiry-based Science Project) Tutor</a>, for middle school students.
          It was developed under a research grant from the Department of Education to Prof. David Klahr (PI) and Dr.
          Stephanie Siler (Co-PI) and a team
          of middle school teachers and education researchers at Carnegie Mellon University.
          The content of this website is based on Next Generation Science Standards (NGSS) and designed to support students'
          background research for common science fair project research questions (e.g., the research question shown
          above).
        </p>
        <p align="left">
          You and your students can also use this website as a resource to find various science units at the
            middle school level (and some more advanced topics at the high school level). Consistent with NGSS, these units were written to emphasize causality among science concepts and variables. 
            Cross-cutting concepts (as defined in NGSS) are emphasized across units in different domains to help students 
            develop generalized, robust understandings of these concepts.
            To find relevant units, you can type search terms into the search box above (scroll past any ads) or click on one of the four 
            science area topics above.<br><br>
            To see a full list of all units available on this website, <a class="brm-link" href="../all-units/" target="_blank">
              click here</a>. <br><br>
            A lesson that provides support for conducting background research can be found by clicking the green "Lesson" button above.   
          
        </p> 

      </div>

    </div>

    <br><br>
  
{% endblock %}
